<div id="footer" class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <li><h6>Explore</h6></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_us_path %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul>
        <li><h6>Contact us</h6></li>
        <li>Sales@bomantechnologies.com</li>
        <li>Phone: 203.623.9119</li>
        <li>Fax: 203.877.3721</li>
      </ul>
    </div>

    <div class="col-md-4">
      <ul>
        <li><h6>Locally Made</h6></li>
        <li>Boman Precison Technologies</li>
        <li>67 Erna Avenue</li>
        <li>Milford, CT 06461</li>
      </ul>
    </div>

    <div class="legal text-muted">
      &copy; Boman Technologies 2018
    </div>
  </div>
</div>





<!-- <footer id="footer">

  <div class="footer-containers">
    <ul> Contact us!
      <li>
        <a>Phone: 555 555 5555</a>
      </li>
      <li>
        <a>Sales@bomantechnologies.com</a>
      </li>
      <li>
        <a>Fax: 203 877 3721</a>
      </li>
    </ul>
  </div>

  <div class="footer-containers">
    <ul> Locally Made
      <li>
        <a>Boman Precison Technologies <br>
          67 Erna Avenue <br>
          Milford, CT 06461
        </a>
      </li>
    </ul>
  </div>

  
</footer> -->












