<footer id="footer">
	<div class="footer-containers explore">
    <nav>
      <ul> Explore
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>About</a>
        </li>
        <li>
          <a>Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-containers contact">
    <nav>
      <ul> Contact us!
        <li>
          <a>Phone: 555 555 5555</a>
        </li>
        <li>
          <a>Sales@bomantechnologies.com</a>
        </li>
        <li>
          <a>Fax: 203 877 3721</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-containers local">
    <nav>
      <ul> Locally Made
        <li>
          <a>Boman Precison Technologies <br>
            67 Erna Avenue <br>
            Milford, CT 06461
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="legal">
      &copy; Boman Technologies 2018.
  </div>
</footer>