<footer id="footer">
	<div class="footer-containers explore">
    <nav>
      <ul> Explore
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>Here</a>
        </li>
        <li>
          <a>There</a>
        </li>
        <li>
          <a>Away</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>


