<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li><h6>Explore</h6></li>
          <li class="footer-li"><%= link_to "Home", root_path %></li>
          <li class="footer-li"><%= link_to "About", about_us_path %></li>
          <li class="footer-li"><%= link_to "Contact", new_contact_path %></li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul>
          <li><h6>Locally Made</h6></li>
          <li class="footer-li">Boman Precison Technologies</li>
          <li class="footer-li">67 Erna Avenue</li>
          <li class="footer-li">Milford, CT 06461</li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <ul>
          <li><h6>Contact us</h6></li>
          <li class="footer-li">sales@bomantechnologies.com</li>
          <li class="footer-li">Phone: 203.623.9119</li>
          <li class="footer-li">Fax: 203.877.3721</li>
        </ul>
      </div>
    </div>

    <div class="legal text-muted">
      &copy; Boman Technologies 2018
    </div>
  </div>
</div>