<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background: white !important; border-bottom: 3px solid #435c97; padding-bottom: 15px;">
  <div class="logo">
    <%= link_to image_tag('Boman_logo.png'), root_path, id:"bowman_logo"%>
  </div>
  <button class="navbar-toggler margin-b" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <hr>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto <!-- margin-links -->">
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/about_us">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/custom_services">Custom Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/production_services">Production Services</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->