<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background: white !important; border-bottom: 3px solid #435c97; padding-bottom: 15px;">
  <div class="logo">
    <%= link_to image_tag('Boman_logo.png'), root_path, id:"bowman_logo"%>
  </div>
  <button class="navbar-toggler margin-b" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <hr>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto <!-- margin-links -->">
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/about_us">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/contact">Contact</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/custom_services">Custom Services</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link link text-size" href="http://localhost:3000/production_services">Production Services</a>
      </li> -->
    </ul>
  </div>
</nav>