<div class="jumbotron jumbotron-fluid jumbotron-cnc">
  <!-- <div class="cnc-cover-box"> -->
    <div class="cnc-cover-text">
      <!-- <h1 class="CNC-header">CNC Machining</h1> -->
      <!-- <span class="aboutUs-subText">We focus on building engineering partnerships with our clients. At Boman, we evolve in lockstep with you to meet your most demanding engineering issues. </span> -->
    </div>
 <!--  </div> -->
</div>

<div class="cnc-container">
  <div class="cnc-p-header">
    <h1>Prototypes</h1>
    <!-- <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p> -->
  </div>
  <div class="prototypes">
    <p>Boman Technologies can produce CNC prototype machined parts.<p>

    <p>Some of our clients need simply one production quality prototype part for proof of concept, visual testing or form fit and function while others need multiple parts for engineering testing or marketing studies. Regardless of your job volume, we are able to provide production quality parts in the same materials that the final product will be made from in a production environment.</p>
  </div>

  <div class="cnc-p-header">
    <h1>Small to Medium Lot Production</h1>
    <!-- <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p> -->
  </div>

  <div class="low-level-production">
    <p>Boman Technologies has the ability to produce CNC machined parts in small lot volumes. With multiple CNC machines and working to our client needs we are able to produce parts in higher volumes, meeting rapid delivery schedules at a high quality level. We are positioned to produce lots anywhere from 1 - 15,000 pieces per run.</p>
  </div>
  
  <div class="cnc-p-header">
    <h1>Materials</h1>
    <!-- <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p> -->
  </div>

  <div class="materials">
    <p>Boman has experience machining many types of plastics and metals. Below is a list of some of them.</p>
  </div>

  <div class="container materials-container">
    <div class="row">
      <div class="col">
        <ul>
          <li>Titanium</li>
          <li>Stainless Steel</li>
          <li>Brass 360, 464</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>A105</li>
          <li>Nickel</li>
          <li>Various Plastics</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>Tool Steel</li>
          <li>Carbon Steel</li>
          <li>Aluminium</li>
        </ul>
      </div>
    </div>
  </div>
</div>

















