<div class="jumbotron jumbotron-fluid jumbotron-au">
  <div class="aboutUs-text">
    <h1 class="aboutUs-header">CNC Machining</h1>
    <span class="aboutUs-subText">We focus on building engineering partnerships with our clients. At Boman, we evolve in lockstep with you to meet your most demanding engineering issues. We can make the technological machining investments necessary for your products to be produced efficiently and cost effectively.</span>
  </div>
</div>