<div class="jumbotron jumbotron-fluid jumbotron-cnc">
  <!-- <div class="cnc-cover-box"> -->
    <div class="cnc-cover-text">
      <!-- <h1 class="CNC-header">CNC Machining</h1> -->
      <!-- <span class="aboutUs-subText">We focus on building engineering partnerships with our clients. At Boman, we evolve in lockstep with you to meet your most demanding engineering issues. </span> -->
    </div>
 <!--  </div> -->
</div>

<div class="cnc-container">
  <div class="cnc-p-header">
    <h1>Prototypes</h1>
    <!-- <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p> -->
  </div>
  <div class="prototypes">
    <p>Boman Technologies specializes in CNC prototype machined parts for small volume jobs, working hand-in-hand with our clients to match exact customer-specified dimensions, critical functional areas and overall design intent.<p>

    <p>Some of our clients need simply one production quality prototype part for proof of concept, visual testing or form fit and function while others need multiple parts for engineering testing or marketing studies. Regardless of your job volume, in most instances we are able to provide production quality parts in the same materials that the final product will be made from in a production environment.</p>

    <p>We can machine any off-the-shelf material and we also have the ability to injection mold blanks to machine from in other exotic materials that are not sold in sheet or rod stock. Providing our clients with CNC prototypes made in the final material that the product will be manufactured from allows them to perform all internal testing accurately prior to product approval.</p>
  </div>

  <div class="cnc-p-header">
    <h1>Low Level Production</h1>
    <!-- <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p> -->
  </div>

  <div class="low-level-production">
    <p>Boman Technologies has the ability to produce CNC machined parts in low volume capacity. With multiple CNC machines and working with our client needs we are able to produce parts in higher volumes, meeting rapid delivery schedules at a high quality level. Depending on the program and demands, we are positioned to produce lots anywhere from 100 – 1000 pieces on a repetitive level</p>
  </div>
  
  <div class="cnc-p-header">
    <h1>Materials</h1>
    <!-- <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p> -->
  </div>

  <div class="materials">
    <p>Boman has experience machining many types of plastics and metals. Below is a list of some of them.</p>
  </div>

  <div class="container materials-container">
    <div class="row">
      <div class="col">
        <ul>
          <li>Titanium</li>
          <li>Stainless Steel</li>
          <li>Brass</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>A105</li>
          <li>Nickel</li>
          <li>Carbon Fiber</li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li>Tool Steel</li>
          <li>12L</li>
          <li>Teflon</li>
        </ul>
      </div>
    </div>
  </div>

  <p>We also have the ability to injection mold blanks to machine from in other exotic materials that are not sold in sheet or rod stock. Providing our clients with CNC prototypes made in the final material that the product will be manufactured from allows them to perform all internal testing accurately prior to product approval.</p>

</div>

















