<div class="container">
  <div id="har-Wrapper">
    <div id="pri_h1">
      <p class="har-title">Harrassment Policy</p>
    </div>
    <p class="text-muted font-italic">Effective: January 1st, 2020</p>
    <p>Boman Technologies is committed to providing a work environment in which all workers are treated with respect and dignity. Workplace harassment will not be tolerated from any person in the workplace including customers, clients, other employers. </p>
    
    <div class="har-h3">
      <h3>What is Harrassment?</h3>
    </div>

    <p>Workplace harassment means engaging in a course of vexatious comment or conduct against a worker in a workplace that is known or ought reasonably to be known to be unwelcome or workplace sexual harassment. Workplace sexual harassment means:</p>

    <ul id="har-bullet"><li id="har-list">Engaging in a course of vexatious comment or conduct against a worker in a workplace because of sex, sexual orientation, gender identity or gender expression, where the course of comment or conduct is known or ought reasonably to be known to be unwelcome.</li></ul>

    <ul id="har-bullet"><li id="har-list">Making a sexual solicitation or advance where the person making the solicitation or advance is in a position to confer, grant or deny a benefit or advancement to the worker and the person knows or ought reasonably to know that the solicitation or advance is unwelcome; 
    Reasonable action taken by the employer or supervisor relating to the management and direction of workers or the workplace is not workplace harassment.</li></ul>

    <p>Workers are encouraged to report any incidents of workplace harassment to the appropriate manager.</p>

    <p>Management will investigate and deal with all complaints or incidents of workplace harassment in a fair, respectful and timely manner. Information provided about an incident or about a complaint will not be disclosed except as necessary to protect workers, to investigate the complaint or incident, to take corrective action or as otherwise required by law.</p>

    <p>Managers, supervisors and workers are expected to adhere to this policy, and will be held responsible by the employer for not following it. Workers are not to be penalized or disciplined for reporting an incident or for participating in an investigation involving workplace harassment.</p> 

  </div>
</div>

