<div id="carouselExampleControls" class="carousel slide home-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active speed-home">
      <%= image_tag("/assets/parts.jpg",  alt: "gears", class: "carousel-img") %>
    </div>
    <div class="carousel-item speed-home">
      <%= image_tag("/assets/Slider-TestLab.jpg",  alt: "packedparts", class: "carousel-img") %>
    </div>
    <div class="carousel-item speed-home">
      <%= image_tag("/assets/Slider-Manufacturing.jpg",  alt: "cylinders", class: "carousel-img") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container h-space">
  <h2 class="text-center h2-c"> Welcome to a manufacturer of longstanding quality, ingenuity, and competency! </h2>
    <p style="color: black;" class="text-center p-text">
      Welcome to Boman Precision Technologies, a second-generation leader in precision manufacturing. Utilizing the latest in advanced software and machine tools, Boman meets the highest standards of excellence in production engineering. We are mechanical and electrical engineers. We develop industrial machining processes to manufacture precision components at competitive price points. Our equipment is impressive, as are our employees. Review our ever growing list of resources, and get a sense of our capabilities. Read the case studies and see that we are a company that loves to rise to a challenge, and truly enjoys working with, and creating longstanding relationships with customers.
    </p>
</div>
 
<div class="container-fluid c-color">
  <h1 class="text-center white">What we do</h1>
  <p class="white">industrial machining processes to manufacture precision components at competitive price points. Our equipment is impressive, as are our employees. Review our ever growing list of resources, and get a sense of our capabilities. Read the case studies and see that we are a company that loves to rise to a challenge, and truly enjoys working with, and creating l</p>
</div>