<div id="carouselExampleControls" class="carousel slide home-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active speed-home">
      <%= image_tag("parts.jpg", alt: "gears", class: "carousel-img") %>
      <div id="carousel-text">
        <h2>Boman Precision Technologies</h2>
        <span>A second-generation leader in precision manufacturing. Utilizing the latest in advanced software and machine tools, Boman meets the highest standards of excellence in production engineering.</span>
      </div>
    </div>
    <div class="carousel-item speed-home">
      <%= image_tag("Slider-TestLab.jpg", alt: "packedparts", class: "carousel-img") %>
    </div>
    <div class="carousel-item speed-home">
      <%= image_tag("Slider-Manufacturing.jpg", alt: "cylinders", class: "carousel-img") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="B1">
  <div class="B1-cards">
    <h3 class="B1-titles">Partnerships</h3>
    <span class="B1-snippets">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus lobortis odio molestie lobortis.</span>
  </div>
  <div class="B1-cards">
    <h3 class="B1-titles">Trust</h3>
    <span class="B1-snippets">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus lobortis odio molestie lobortis.</span>
  </div>
  <div class="B1-cards">
    <h3 class="B1-titles">Precision</h3>
    <span class="B1-snippets">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus lobortis odio molestie lobortis.</span>
  </div>
</div>

<div id="B2" class="container-fluid">
  <header class="B2-titles">What we do</header>
  <p class="B2-snippets">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus lobortis odio molestie lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus lobortis odio molestie lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean finibus lobortis odio molestie lobortis.</p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
        pause: false
    });
  });
</script>

















