<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active speed-home">
      <%= image_tag("sparks.jpg", alt: "machine-sparks", class: "carousel-img") %>
    </div>
    <div class="carousel-item speed-home">
      <%= image_tag("table.jpg", alt: "phones-on-table", class: "carousel-img") %>
    </div>
    <div class="carousel-item speed-home">
      <%= image_tag("man-welding.jpg", alt: "blueprints", class: "carousel-img") %>
    </div>
    <div class="carousel-item speed-home">
      <%= image_tag("hands.jpg", alt: "hands-together", class: "carousel-img") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="carousel-text">
  <h1>Boman Precision Technologies</h1>
  <p>A second-generation leader in precision manufacturing. Utilizing the latest in advanced software and machine tools, Boman meets the highest standards of excellence in production engineering.</p>
</div>

<div id="values">
  <div class="value-cards">
      <div class='slide1'></div>
      <div class='slide2'></div>
      <div class='slide3'></div>
      <div class='slide4'></div>
  </div>
  <div class="value-cards">
    <h3 class="value-titles">Custom Services</h3>
    <span class="value-snippets">Providing prototypes, tooling components, proof of concept, new product development and new product launches, our custom production development team can produce your idea from concept to production.</span>
  </div>
  <div class="value-cards">
    <h3 class="value-titles">Quality</h3>
    <span class="value-snippets">Our engineers, and state of the art machine tools and software provide the quality and craftsmanship of each precision machined part. We work with aerospace alloys, high temperature stainless and custom engineering materials and polymers.</span>
  </div>
</div>

<div id="mission-statement">
  <h2 class="ms-title">What we do</h2>
  <p class="B2-snippets">We are mechanical and electrical engineers. We develop industrial machining processes to manufacture precision components at competitive price points. Our equipment is impressive, as are our employees. Review our ever growing list of resources, and get a sense of our capabilities. Read the case studies and see that we are a company that loves to rise to a challenge, and truly enjoys working with, and creating longstanding relationships with customers.</p>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
        pause: false
    });
  });
</script>
















