<div class="container">
  <div id="privacyWrapper">
    <div id="privacy_h1">
      <p class="pri-title">Privacy Policy</p>
    </div>

    <p class="text-muted font-italic">Last Modified: October 6th, 2019</p>
    
    <p>At Boman Technologies one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Boman Precision Technologies and how we use it.</p>

    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at sales@bomantechnologies.com</p>
    
    <div class="pri-h3">
      <h3>Log Files</h3>
    </div>

    <p>Boman Technologies follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and is a part of the hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, and gathering demographic information. These tools we use do not obtain personal information about you and cannot obtain information from your hard drive or pass on a computer virus.</p>

    <div class="pri-h3">
      <h3>Cookies</h3>
    </div>

    <p>Like any other website, Boman Technologies uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information. When we collect personal information, it is only done with your knowledge (such as filling out the contact form). This personal information includes your name, email address, telephone number and what you say in the message field. All of this information is solely used to assist our customers and contact them promptly.</p>

    <p>Most modern browsers allow users to decide whether to accept cookies, so you have the choice to not use them or not on our site.</p>
    
    <div class="pri-h3">
      <h3>Online Privacy Policy Only</h3>
    </div>

    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Boman Technologies. This policy is not applicable to any information collected offline or via channels other than this website.</p>
    
    <div class="pri-h3">
      <h3>Consent</h3>
    </div>
  
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions. As upgrades are made to this site the Privacy Policy will be updated accordingly.</p>
  </div>
</div>