<div class="jumbotron jumbotron-fluid jumbotron-pro">
  <!-- <div class="cnc-cover-box"> -->
    <div class="cnc-cover-text">
      <!-- <h1 class="CNC-header">CNC Machining</h1> -->
      <!-- <span class="aboutUs-subText">We focus on building engineering partnerships with our clients. At Boman, we evolve in lockstep with you to meet your most demanding engineering issues. </span> -->
    </div>
 <!--  </div> -->
</div>

<div class="cnc-container">
  <div class="cnc-p-header">
    <h1>Our Machines</h1>
    <!-- <p class="text-muted">A wealth of experience and a drive to deliver the highest quality products.</p> -->
  </div>
  <div class="production">
    <p>Boman Technologies specializes in machining standard and exotic metal parts and assemblies using state-of-the-art CNC turning, milling, and 5-axis centers. Years of experience provide expert knowledge of metal characteristics and how material groups react when machined. Tool selection, cutting pass depths, mill/lathe feed and speed, chip control, and high-pressure coolant are critical in controlling heat generation, which can cause part movement and tool deflection during the machining process. This level of skill ensures world-class precision machining that meets or exceeds the most demanding tolerances.</p>

    <p>The innovative team is always available to review and guide you during the design process. Our goal is 100% customer satisfaction, providing AS 9100/ISO 9001:2015 certified quality machining resulting in timely turnaround and on-time delivery.</p>

  </div>

  <div class="pro-p-header">
    <h1>New Age</h1>
  </div>

  <div class="container production-container">
    <div class="row">
      <div class="col">
        <ul>
          <li>2020 VMC Mazak VCU400 HSK-63 high accuracy spindle 3 Axis. 20X-16Y-16Z 12000 RPM 25Hp Mitsubishi 780 control 0.0002 Volumetric accuracy</li>
          <li>2020 Wire EDM Mitsubishi 1200s, 12 RMA finish circuit. 16X-12Y-9Z Mitsubishi 800 control. 0.00001 accuracy</li>
          <li>2019 Grinder Acer 1020SGD 3 axis automatic.</li>
          <li>2019 Swiss Citizen 20mm 11 axis 20LXi VDT (VDT for difficult-to-machine materials)</li>
          <li>2014 Turn-Mill 6-axis Miyano LZ-R2Y2 8” Chuck Fanuc 18T, 6-axis 6000 rpm Robotic Load/Unload</li>
          <li>2013 Turn-Mill 5-axis Miyano LZ-R2 8” Chuck Fanuc 18T, 5 Axis 6000 rpm Robotic Load/Unload</li>
          <li>2013 Turn-Mill 5-axis Miyano LZ-R1 Fanuc 6” Chuck OiT, 5 Axis 8000 rpm Robotic Load/Unload</li>
          <li>2005 Swiss 32mm Citizen 9 axis Lathe Mitsubishi 760 control Multiple Bar Loader</li>
          <li>2003 Swiss 20mm Swiss 10 axis lathe 20LVII Mitsubishi 740 control Multiple Bar Loader</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="pro-p-header">
    <h1>Old Guard</h1>
  </div>

  <div class="container production-container">
    <div class="row">
      <div class="col">
        <ul>
          <li>1997 VMC Hardinge 700 4 axis Mill Fanuc 18M control (0.001 deg 4th axis)</li>
          <li>1998 Mill Turn, Super Precision HardingeT42SP 5 axis Lathe and bar feeder 0.00001 accuracy (ret)</li>
          <li>1997 Lathe, Super Precision Hardinge GT27SP 27mm 27mm lathe 0.00001 accuracy</li>
          <li>1996 Lathe, Super Precision Hardinge GT27SP 27mm Super Precision lathe, bar feeder 0.00001 accuracy</li>
        </ul>
      </div>
    </div>
  </div>
</div>














