<div id="carouselExampleControls" class="carousel slide home-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active speed-home">
      <%= image_tag("/assets/cncmachine.jpg",  alt: "gears", class: "d-block w-100 carousel-img") %>
    </div>
</div>
<h1>Production Services</h1>
<p>Providing prototypes, tooling components, proof of concept, new product development and new product launches, our custom production development team can produce your idea from concept to production.</p>