.jumbotron-cnc {
  background-image: image-url('baby.jpg') !important;
  background-size: cover;
  height: 550px;
  background-position-y: 40%;
  color: white;
}

// Box with text over image idea

// .cnc-cover-box {
//   background-color: white;
//   width: auto;
//   border: 2px solid #435c97;
//   padding: 1%;
//   margin-left: 15%;
//   margin-right: 61%;
//   margin-top: 0%;
//   margin-bottom: 0%;
//   border-radius: 10px;
// }

// .CNC-header {
//   padding-bottom: 20px;
// }

// .cnc-cover-text {
//   text-align: center;
//   color: #425b97;
// }

.cnc-container {
  margin: 5% 13%;
}

.cnc-p-header h1 {
  color: #435c97;
  width: 80%;
  padding-bottom: 15px;
  border-bottom: 4px solid #435c97;
}

.prototypes {
  margin-top: 5%;
  margin-bottom: 5%;
}

.low-level-production {
  margin-top: 5%;
  margin-bottom: 5%;
}

.materials {
  margin-top: 5%;
  margin-bottom: 3%
}

.materials-container {
  margin-top: 5%;
  margin-bottom: 3%;
}





















