.contact-header {
	width: 100%;
	margin-top: 5%;
	margin-left: 2%;
}

.contact-header {
	h1 { color: #435c97; }
	
	p { 
		width: 80%;
		padding-bottom: 25px;
		border-bottom: 4px solid #435c97;
	}
}

.contact-cards {
	padding: 15px 15px;
	margin: 10% 3%;
	
	label { color: #435c97; }

	h6 { color: #435c97; }
}

.contact-info {
	margin-top: 20px;
}

.control {
	width: 100%;
  padding: 4px 10px;
  border: 0;
  border: 1px solid #999999;
  box-sizing: border-box;
  &:focus {
    outline: none !important;
    border: 2px solid #435c97;
  }
}

.contact-textarea {
	margin-top: 3%;
}

.submit-btn {
	position: relative;
}

#characterCounter {
	position: absolute;
	right: 0;
}