.contact-cards {
	padding: 15px 15px;
	margin: 10% 3%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.control {
	width: 100%;
	padding: 6px 15px;
	border: 1px solid #999999;
	box-sizing: border-box;
	&:focus {
		outline: none !important;
		border: 2px solid #435c97;
	}
}

.contact-textarea {
	margin-top: 3%;
}

textarea {
	display: block;
}