#footer {
	position: relative;
  bottom: 0;
  width: 100%;
  padding: 80px 0px;
  background-color: rgba(67, 93, 152, 1);
  text-align: center;
  color: white;
}

#footer .footer-containers {
  // display: inline-block;
  margin-bottom: 15px;
  width: 20%;
  min-width: 150px;
  vertical-align: top;
  line-height: 25px;
}

.explore {

}

#footer .footer-containers .nav {
  display: inline-block;
  margin-bottom: 5px;
}

#footer li {
  list-style: none;
}