.carousel-inner {
  max-height: 600px;
  margin-bottom: 30px;
}

.speed-home {
  transition: transform .8s ease-in-out left !important;
}

.carousel-img {
  width: 100%;
  height: auto;
}

#carousel-text {
  position: relative;
  width: 80%;
  padding: 20px 10%;
  margin-top: -9%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  h1 {
    padding-bottom: 20px;
    border-bottom: 4px solid #435c97;
  }

  p {
    margin-top: 20px;
  }
}

#values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.value-cards {
  height: 250px;
  width: 380px;
  
  margin-top: 8%;
  margin-left: 30px;
  margin-right: 30px;
  
  .value-titles {
    border-bottom: 4px solid #435c97;
    padding-bottom: 15px;
    text-align: center;
  }
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 380px;
  height: 250px;
}
.slide1 {
  background: url('machine_parts01.jpg')no-repeat center;
  background-size: cover;
  animation:fade 16s infinite;
  -webkit-animation:fade 16s infinite;

} 
.slide2 {
  background: url('glasspart.jpg')no-repeat center;
  background-size: cover;
  animation:fade2 16s infinite;
  -webkit-animation:fade2 16s infinite;
}
.slide3 {
  background: url('machinepts.jpg')no-repeat center;
  background-size: cover;
  animation:fade3 16s infinite;
  -webkit-animation:fade3 16s infinite;
}
@keyframes fade {
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2 {
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3 {
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

#mission-statement {
  margin-top: 8%;
  margin-left: 7%;
  margin-bottom: 8%;
  width: 65%;
}

.ms-title {
  width: 200px;
  margin-bottom: 25px;
  text-align: center;
  color: white;
  background-color: #435c97;
}

@media only screen and (max-width: 700px) {
  .carousel-img {
    max-height: 220px;
  }

  #carousel-text {
    margin-top: -15%;
  }
}

@media only screen and (max-width: 445px) {
  .slide2,.slide3,.slide4,.slide5 {
    display: none;
  }

  .slide1 {
    animation: none; 
  }

  .slide1 {
    background: url('machine_parts01mobile.jpg')no-repeat center;
    width: 345px;
  }
}

@media only screen and (width: 360px) {
  .slide1 {
    width: 305px;
  }
}

@media only screen and (width: 320px) {
  .slide1 {
    width: 263px;
  }

  h1 {
    font-size: 2.0rem;
  }

  #mission-statement {
    margin-top: 16%;
  }
}

@media only screen and (width: 375px) {
  .slide1 {
    width: 318px;
  }
}
















