nav {
  position: relative;
}

#bowman_logo img {
  max-height: 140px;
  max-width: 175px;
  width: 100%;
  height: auto;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
}

.navbar-nav {
  margin-left: 3%;

  li {
    margin-right: 5%;
  }
}