nav {
  position: relative;
}

.navbar {
  background: white !important;
  border-bottom: 3px solid #435c97;
  padding-bottom: 15px;
}

#bowman_logo img {
  max-height: 140px;
  max-width: 175px;
  width: 100%;
  height: auto;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  &:focus {
    outline: none;
  }
}

.navbar-nav {
  margin-left: 3%;

  li {
    margin-right: 5%;
  }

  .nav-link-stretched {
    width: 142px;
  }

  .nav-link:hover {
    color: #435c97 !important;
    font-weight: 600 !important;
  }
}