@import "bootstrap";

*,
*:before,
*:after {
  margin: 0;
}

*:focus {
  outline: none !important;
}

html,
body {
  height: 100%;
}

/* Navbar */

#bowman_logo img {
  max-height: 140px;
  max-width: 175px;
  width: 100%;
  height: auto;
}

.text-size {
  font-size: 16px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: red;
  z-index: 100px;
}

/* Carousel & homepage */ 
.carousel-inner {
  max-height: 500px !important;
  margin-bottom: 30px;
}

.speed-home {
  transition: transform .5s ease-in-out left !important;
}

.carousel-img {
  width: 100%;
  height: auto;
}

.h-space {
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-b {
  margin-left: 76%;
}

.h2-c {
  margin-bottom: 3rem; 
  font-family: Arial; 
  color: #435c97;
}

.white {
  color: white;
}

.c-color {
  background-color: #435c97;
  padding: 10px;
}

/*.margin-links {
  margin-left: 1%;
  padding-right: 0px !important;
}*/

/*Footer*/

.footer-pos {
  position: absolute;
  bottom: 0;
}

/* Cards/ about us */

.card-size {
  margin: auto !important;
}

.card-space {
  margin-top: 50px;
}

.size {
  margin: auto !important;
  width: 75%;
}

.p-text {
  color: black;
}

.drill-pic {
  z-index: -100;
  width: 50%;
}

.jumbotron-au {
  background-image: url(/assets/drill.jpg) !important;
  background-size: cover;
}

.text-c {
  color: white;
  line-height: 40px;
  margin-right: 37rem;
 
}

@import "contactPage";

/* @media's */

@media (max-width: 768px) {
  .home-carousel {
    height: 250px;
  }
}

/* footer */

@import "footer";























