@import "bootstrap";

*,
*:before,
*:after {
  margin: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1, h2,
h3, h4,
h5, h6 {
  font-family: 'Tenor Sans', sans-serif;
}

button,
.btn:focus {
  outline: none;
}

@import "navbar";

@import "index";

@import "aboutUsPage";

@import "contactPage";

@import "footer";























