html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white !important;
}

/* Navbar */

#bowman_logo img {
  max-height: 140px;
  max-width: 175px;
  width: 100%;
  height: auto;
}

.text-size {
  font-size: 16px;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: red;
  z-index: 100px;
}

/* Carousel & homepage */ 
.carousel-inner {
  max-height: 500px !important;
  margin-bottom: 30px;
}

.speed-home {
  transition: transform .5s ease-in-out left !important;
}

.carousel-img {
  width: 100%;
  height: auto;
}

.h-space {
  padding-top: 50px;
  padding-bottom: 50px;
}

.margin-b {
  margin-left: 76%;
}

.h2-c {
  margin-bottom: 3rem; 
  font-family: Arial; 
  color: #435c97;
}

.white {
  color: white;
}

.c-color {
  background-color: #435c97;
  padding: 10px;
}

/*.margin-links {
  margin-left: 1%;
  padding-right: 0px !important;
}*/

/*Footer*/

.footer-pos {
  position: absolute;
  bottom: 0;
}

/* Cards/ about us */

.card-size {
  margin: auto !important;
}

.card-space {
  margin-top: 50px;
}

.size {
  margin: auto !important;
  width: 75%;
}

.p-text {
  color: black;
}

.drill-pic {
  z-index: -100;
  width: 50%;
}

.jumbotron-au {
  background-image: url(/assets/drill.jpg) !important;
  background-size: cover;
}

.text-c {
  color: white;
  line-height: 40px;
  margin-right: 37rem;
 
}

/* Form */

.container-au {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(/assets/parts.jpg) !important;
  background-size: cover;
}


.form {
 margin: auto;
}

.form-center {
  width: 50%;
  margin: auto;
}

/*.contact-card {
  padding-top: 50px;
  margin-bottom: 50px;
}*/

.input-size {
  width: 600px;
  height: 150px;
}

.card-s {
  height: 700px;
  background-color: white;
  border: #445c97 solid 2px;
}

.message-box {
  width: 100%;
}

.message-h {
  height: 135px;
}

.button {
  width: 54%;
  margin: auto;
  margin-top: 20px;
}

.input-custom {
  padding: 0.375rem 10.49rem !important;
  padding-top: 0.375rem;
  padding-right: 10.49rem;
  padding-bottom: 0.375rem;
  padding-left: 10.49rem;
  margin-bottom: -1px !important;
  border-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

@media (max-width: 1199px) {
  .input-custom {
    padding: 0.375rem 7.66rem !important;
    padding-top: 0.375rem;
    padding-right: 7.66rem;
    padding-bottom: 0.375rem;
    padding-left: 7.66rem;

  }
  .text-c {
    margin-right: 28rem;
  }
}

@media (max-width: 991px) {
  .input-custom {
    padding: 0.375rem 3.92rem !important;
    padding-top: 0.375rem;
    padding-right: 3.92rem;
    padding-bottom: 0.375rem;
    padding-left: 3.92rem;
  }
  .text-c {
    margin-right: 1rem;
  }
}

/* @media's */

@media (max-width: 768px) {
  .home-carousel {
    height: 250px;
  }
}

/* footer */

.page-footer {
  position: absolute;
  bottom: 0;
}
