#privacyWrapper {
  margin-top: 6%;
  margin-bottom: 8%;
}

.pri-title {
  font-family: 'Tenor Sans', sans-serif;
  margin-bottom: 5px;
  font-size: 2.5em;
  color: #435c97;
}

.pri-h3 {
  color: #435c97;
}