.jumbotron-pro {
  background-image: image-url('unsplash.jpg') !important;
  background-size: cover;
  height: 550px;
}

.cnc-container {
  margin: 5% 13%;
}

.pro-p-header h1 {
  color: #435c97;
  width: 80%;
  padding-bottom: 15px;
  border-bottom: 4px solid #435c97;
}

.production {
  margin-top: 5%;
  margin-bottom: 5%;
}

.production-container {
  margin-top: 5%;
  margin-bottom: 3%;
}